body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

.btn {
  background: purple;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #a020f0;
  box-shadow: 0 0 10px purple;
}
